.sider{
    width: 190px;
    border-right: 1px solid #e5e5e5;
    font-size: 18px;
    color: $grey-darker;
    background: #FBFBFB;
    vertical-align: top;

    a{
        color:$grey-darker;
        &:hover{
            color:$red !important;
        }
        &.link_active{
            color:$red;
        }
    }

    .menu_item{
        width: 190px;
        padding: 17px 0 21px 20px;
        border-top: 1px solid $white;
        border-bottom: 1px solid $borderColor;
        position:relative;
        display:block;
        font-size:18px;
        overflow:hidden;
        &>div>.text{
            font-size:18px;
            display:inline-block;
            vertical-align: middle;
            margin-top:2px;
        }
        .menu_sub{
            padding-left:26px;
            margin-top:10px;
            a{
                font-size:16px;
            }
        }
        &.active{
            background:$white;
            width:191px;
            color:$red;
            &:before{
                width:4px;
                height:100%;
                content:"";
                position:absolute;
                left:0;
                top:0;
                background:$red;
                animation: slidedown 0.2s linear;
                -webkit-animation: slidedown 0.2s linear;
            }
        }
        .icon{
            display:inline-block;
            vertical-align: middle;
            width:26px;
            height: 26px;
            background-image:url('/asset/images/fhh_icons.png');
            background-repeat:no-repeat;
            margin-right:6px;
        }
        &.home .icon{
            background-position:0 0;
        }
        &.publish .icon{
            background-position: -157px -35px;
        }
        &.manage .icon{
            background-position: -31px 0;
        }
        &.stat .icon{
            background-position: -62px 0;
        }
        &.message .icon{
            background-position:-93px 0;
        }
        &.account .icon{
            background-position:-126px 0;
        }
        &.help .icon{
            background-position: -156px 0;
        }
        &.feedback .icon{
            background-image:url('/asset/images/question.png');
            background-position: 0 0;
        }
    }
}