// Colors
$grey-light: #f2f2f2;
$grey: #CCCCCC;
$grey-dark: #999999;
$grey-darker: #666666;
$grey-darkest: #333;

$brown: #f8f4eb;  
$brown-darker: #f2eadb;

$red: #f54343;     
$blue: #439ff5;
$green: #39c6b0;         

$white: #FFF;
$black: #000;

// layout
$bgColor: #f8f4eb;
$borderColor: #e5e5e5;

// Border
$radius-default: 8px;

$designWidth:750;

@function r($px){
	@return $px*320/$designWidth/20 + rem;
}
